@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    font-family:'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main {
    display: grid;
    grid-template-areas: 
    "side-bar header header"
    "side-bar content content"
    "side-bar content content";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "search-bar profile-bar"
    "hello-bar control-bar";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-left: 15px;
}

.side-bar {
    grid-area: side-bar;
}

.content {
    grid-area: content;
}

.search-bar {
    display: flex;
    align-items: center;
    grid-area: search-bar;
}

.icon-search {
    font-size: 1rem;
    margin-right: 10px;
}

.icon-bell-alt {
    font-size: 1.5rem;
}

.profile-icon {
    height: 50px;
    border-radius: 50px;
}

.profile-picture {
    height: 75px;
    border-radius: 50px;
    grid-area: profile-picture;
    margin-right: 25px;
    margin-top: 13px;
}

.profile-name {
    font-size: 1rem;
    margin-top: 8px;
}

.profile-bar {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    grid-area: profile-bar;
    margin-top: 10px;
    margin-left: 100px;
}

#search-area {
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 50px;
    width: 800px;
}

.hb-first-text {
    grid-area: first-text;
    margin-top: 25px;
}

.hb-second-text {
    font-size: 1.25rem;
    grid-area: second-text;
}

.hello-bar {
    display: grid;
    grid-template-areas: 
    "profile-picture first-text"
    "profile-picture second-text";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 425px;
    height: 100px;
    grid-area: hello-bar;
}

.new-button {
    margin-right: 30px;
    padding: 7px 30px;
    border-radius: 50px;
    border: 0px;
    background-color: #1992D4;
    color: white;
}

.control-bar {
    grid-area: control-bar;
    margin-top: 40px;
}

.dashboard-icon {
    height: 60px;
}

.dashboard-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
}

.dashboard-container > p {
    font-size: 1.75rem;
    margin-top: 5px;
    margin-left: 15px;
}